@media screen and (min-width:400px){
body {
font-size: 25px;
background-color: rgb(192, 181, 181);
text-align-last: auto;
line-height: 35px;
margin: 2px;
}

h1 {
font-size: 50px;
background-color: rgb(248, 248, 248);
text-decoration-line: underline;
}

h2 {
font-size: 35px;  
background-color: rgb(248, 248, 248); 
text-decoration-line: underline;
}

img {

max-width: 95%;
border-image-outset: 10px;

}

figure {

margin: 0;

}
}
@media screen and (min-width: 420px) {

body {
    
background: purple; 
margin: 2px;
}
  
}
@media screen and (min-width: 794px) {

body {
      
background: gray; 
margin: 5px;
font-size: 20px;
text-align: center;
        }
h1 {
font-size: 60px;
background-color: rgb(250, 190, 200);
text-decoration-line: underline;
text-align: center;
margin: 20px;
}
h2 {
font-size: 45px;
background-color: rgb(250, 190, 200);
text-decoration-line: underline;
text-align: center;
margin: 20px;
        }
img {
max-width: 95%;
border-image-outset: 5px;
margin-left: auto;
margin-right: auto;
display: block;
padding: 30px;
        }
.f{
 text-align: center;
 font-size: 25px;
        }
        }

@media screen and (min-width: 1020px) {

body {
            
background: rgb(243, 169, 169); 
margin: 8px;
font-size: 25px;
text-align: center;
max-width: 80%;
   }
 h1 {
 font-size: 60px;
background-color: cyan;
 text-decoration-line: underline;
 text-align: center;
margin: 30px;
            }
h2{
font-size: 45px;
  background-color: cyan;
 text-decoration-line: underline;  text-align: center;
margin: 30px;
  }
  img {
 max-width: 95%;
 border-image-outset: 5px;
  margin-left: auto;
  margin-right: auto;
     display: block;
padding: 45px;
      }
  .f{
   text-align: center;
  font-size: 25px;
            }
            }
